/* ~~~START CSS RESET~~~ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Open Sans', sans-serif;
  background-color: #DBD2D2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;;
	border-spacing: 2px;

}

/* ~~~ end css reset ~~~ */

/* note that all default styles are for desktop site */

/* ~~~ START STRUCTURAL STYLES ~~~ */

.wrapper {
  max-width: 1024px;
  margin: auto;
  background-color: #DBD2D2
}

/* ~~~ end structural styles ~~~ */

/* ~~~ START HEADER STYLES ~~~ */

header {
  width: 75%;
	padding: 30px 0px;
  display: table;
  margin: auto;
}

.logo-wrapper {
  width: 50%;
  display: table-cell;
  vertical-align: bottom;
	text-align: center;
}

.headline-wrapper {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 0%;
	text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1%;
}

h1::first-letter{
	font-size: 200%;
	color: #FC8DF7;
}

p{
	width: 100%;
}

/* tablet */
@media (max-width: 768px) {
  .logo-wrapper {
    width: 100%;
    margin: 5% 0 5% 0;
    display: block;
    text-align: center;
  }

	.logo-wrapper2 {
    width: 100%;
    margin: 5% 0 5% 0;
    display: block;
    text-align: center;
		padding-top: 0px;
  }


  .headline-wrapper {
    display: block;
    padding: 0;
    text-align: center;
  }
}

/* ~~~ end header styles ~~~ */

/* ~~~ START NAV STYLES ~~~ */

.main-nav {
  width: 75%;
  margin:auto;
	background-color: white;
	padding-right: 10px;
	margin-top: 20px;


}

.main-nav ul {
  width: 90%;
  display: table;
}

.main-nav li {
  width: 10%;
  height: 48px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color:#FC8DF7;
}

.table {
    display: table;
    width: 100%;
    background-color: white;



}

.cell {
    display: table-cell;
		width:30%;

	}


.graphic-paragraph{
	display:table;
	border-style:solid;
}

 h3::first-letter {
    font-size: 400%;
    color: #FC8DF7;
		width: 25%;
		padding-bottom: 10px;
	}

	h3{
		font-size: 200%
	}

/* mobile */
@media (max-width: 375px) {
  .main-nav ul {
    display: block;
  }
  .main-nav ul li {
    width: 100%;
    display: block;
  }
}

/* ~~~ end nav styles ~~~ */

/* ~~~ START MAIN CONTENT STYLES ~~~ */

main {
  width: 75%;
  margin: auto;
		padding-bottom: 20px;
		padding-top: 20px;
}

.portfolio-nav ul {
  display: table;
  width: 100%;
}

.portfolio-nav li {
  display: table-cell;
  text-align: center;
	padding: 0px 30px;
}

.portfolio-nav li:nth-child(1),
.portfolio-nav li:nth-child(4) {
  text-align: left;
}

.portfolio-nav li:nth-child(3),
.portfolio-nav li:nth-child(6) {
  text-align: right;
}

.portfolio-nav li img {
  width: 100%;
}

.portfolio-nav a {
	border: 2px solid black;
	display: inline-block;
}

.portfolio-nav .row1 {
  display: table-row;
}

.portfolio-nav .row1 li {
  padding-bottom: 5%;
}

.portfolio-nav .row2 {
  display: table-row;
}



/* mobile */
@media (max-width: 375px) {

  .portfolio-nav li {
    display: block;
    padding-bottom: 5%;
    text-align: center;
  }

  .portfolio-nav li:nth-child(1),
  .portfolio-nav li:nth-child(3),
  .portfolio-nav li:nth-child(4),
  .portfolio-nav li:nth-child(6) {
    text-align: center;
  }
}

figure {
  display: table;
  margin-top: 5%;
}

.portfolio-img {
  width: 90%;
  display: table-cell;
}

figcaption {
  width: 35%;
  display: table-cell;
  vertical-align: top;
}

figcaption p {
  margin-top: 5%;
  font-size: .8em;
}

.paragraph {
	border: 2px solid black;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
}

/* tablet */
@media (max-width: 768px) {
  figure {
    display: block;
  }

  .portfolio-img {
    width: 100%;
    margin: 5% auto 5% auto;
  }
}


/* ~~~ end main content styles ~~~ */

/* ~~~ START FOOTER STYLES ~~~ */

footer {
  width: 75%;
  margin:auto;
  height: 20px;
  text-align: center;
  line-height: 20px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ~~~ end footer styles ~~~ */
